<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th *ngFor="let colHead of columnHeaders" scope="col">{{ colHead }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rowIndex of rowCount">
        <td scope="row">{{ rowHeaders[rowIndex] }}</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>{{ tableContent[0][0] }}</td>
        <!-- <td *ngFor="let columnIndex of columnCount">
            {{ tableContent[rowIndex][0] }}
        </td>  -->
      </tr>
    </tbody>
</table>